SUBSCRIPTION_URL=https://example.com/sub.yaml
LISTEN_ADDR=0.0.0.0:9123
CHECK_INTERVAL=60s
CHECK_TIMEOUT=5s
CHECK_CONCURRENCY=20
# INCLUDE_GROUPS=
EXCLUDE_GROUPS=DIRECT,REJECT,GLOBAL
EXCLUDE_PROXY_REGEX=(?i)(direct|reject|block|ads|virtual|hidden)